// ESTILOS GENERALES
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", Arial, Sans-serif;
    font-size: 16px; 
    background: white;
}

$primary: #0066E3;
$secundary: #24558E;
$alternative: #308BC7;