@media only screen and (max-width: 768px) {
    .navbar {
        background-color: white;
        &.navbar-light {
            .navbar-brand,
            .navbar-brand:hover {
                color:  $primary!important;
                font-weight: 600;
            }
            .navbar-nav .nav-item .nav-link {
                color: $primary !important;
            }
        }
    }
    .adventures {
        margin-top: -50px;
    }
}